<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login</title>
</head>
<body>
    

    <div>
        {% for message in messages %}
            <h1>{{message}}</h1>
        {% endfor %}
    </div>

    <form action="login" method="POST">
        {% csrf_token %}
        Username: <input type="text" name="username" placeholder="Username" style="margin-bottom: .3em;"><br>
        Password: <input type="password" name="password" placeholder="Password" style="margin-bottom: .3em;"><br>
        <input type="submit"><br>
    </form>
</body>
</html>